* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0; }

body {
  background: #ffffff;
  padding: 10px;
  margin: 0; }

body, div, td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333; }

h1, h2, h3 {
  text-transform: uppercase;
  color: #333333; }

h1 {
  margin: 0;
  padding: 0;
  font-size: 22px; }

h2 {
  margin: 6px 0 12px 0;
  padding: 0;
  font-size: 18px; }

h3 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 16px; }

p {
  line-height: 160%;
  margin: 0;
  padding: 0 0 20px 0;
  color: #333333; }

#jetshop-mainwrapper {
  margin: 20px auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 700px;
  width: 100%; }

.box {
  background-color: #fafafa;
  border: 1px solid #cdcdcd;
  padding-bottom: 2px;
  margin-bottom: 22px; }
  .box h2 {
    padding-left: 10px;
    padding-top: 8px; }

span.header-number {
  width: 22px;
  height: 22px;
  display: inline-block;
  padding: 3px 7px;
  margin-top: -4px;
  background-color: red;
  margin-right: 6px;
  vertical-align: middle;
  color: white;
  text-align: center;
  font-size: 14px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px; }

.order-details-left {
  float: left;
  width: 65%;
  margin-top: 4px;
  padding-bottom: 10px; }

.order-details-right {
  float: right;
  width: 35%;
  padding-left: 20px;
  text-align: right;
  font-size: 18px;
  padding-bottom: 10px; }

.order-details-inner {
  padding-left: 10px;
  padding-right: 10px; }

.order-header {
  font-weight: 700; }

.order-row {
  border-bottom: 1px solid #cdcdcd; }

.order-row.order-row-tall {
  padding-top: 12px;
  padding-bottom: 12px; }

.order-row:last-child {
  border-bottom: none; }

.order-left {
  width: 55%;
  float: left;
  padding: 8px 0; }

.order-middle {
  width: 15%;
  float: left;
  padding: 8px 0 8px 6px; }

.order-right {
  width: 30%;
  float: left;
  padding: 8px 0;
  text-align: right; }

.order-right.full {
  width: 100%;
  float: none; }

.row {
  width: 33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px; }

.row input {
  width: 100%; }

.input-text {
  margin-top: 4px;
  padding: 4px 6px;
  font-size: 14px;
  border: 2px solid #cdcdcd;
  outline-color: #008CBA; }
  .input-text:focus {
    border-color: #008CBA; }

.input-select {
  margin-top: 4px;
  border: 2px solid #cdcdcd;
  outline-color: #008CBA;
  font-size: 14px; }
  .input-select:focus {
    border-color: #008CBA; }

.input-button {
  outline-color: #008CBA;
  background-color: red;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px 30px;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0; }
  .input-button:hover {
    background-color: #cc0000; }
  .input-button:focus {
    border-color: #008CBA; }

#cvv-input {
  margin-right: 15px;
  max-width: 90px; }

.icon-help {
  margin-top: 8px;
  cursor: pointer; }

#button-wrapper {
  text-align: right;
  margin-top: 12px;
  margin-bottom: 44px; }

#footer {
  border: 1px solid #cdcdcd;
  color: #fff;
  line-height: 160%;
  font-size: 12px;
  padding: 20px; }
  #footer #footer-logo {
    position: absolute;
    width: 105px;
    float: left;
    padding-right: 20px; }
  #footer #footer-text {
    float: left;
    margin-left: 125px;
    line-height: 160%; }

.resetfloat:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
  margin: 0 !important;
  padding: 0 !important; }

.resetfloat {
  display: inline-block; }

.resetfloat {
  display: block;
  zoom: 1; }

@media only screen and (max-width: 40em) {
  #jetshop-mainwrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .row, .order-details-inner {
    padding-left: 0;
    padding-right: 0; }
  .box {
    background-color: transparent;
    border: none; }
    .box h2 {
      padding-left: 0; }
  .order-details-left {
    float: none;
    width: 100%;
    margin-top: 0; }
  .order-details-right {
    float: none;
    width: 100%;
    padding-left: 0;
    text-align: left; }
  #order-details {
    margin-bottom: 22px; }
  .row {
    width: 100%;
    float: none; }
  .order-left span {
    display: none; }
  #footer #footer-logo {
    position: static;
    width: 105px;
    float: none;
    clear: both;
    margin-bottom: 18px; }
  #footer #footer-text {
    float: none;
    margin-left: 0;
    width: 100%; } }
