@import "functions";

//
//  Settings
//
$rem-base: 16px;
$dibs-max-width: 700px;
$dibs-color: #333333;
$dibs-background-color-body: #ffffff;
$dibs-background-color-grey: #666666;
$dibs-background-color-grey-1: #999999;
$dibs-padding-left: 10px;
$dibs-padding-right: 10px;
$dibs-outline-color: #008CBA;
$dibs-button-background-color: red;
$dibs-box-background-color: #fafafa;
$dibs-border-color: #cdcdcd;

$small-breakpoint: em-calc(640);
$medium-breakpoint: em-calc(1080);
$large-breakpoint: em-calc(1440);
$xlarge-breakpoint: em-calc(1920);

@import "mixins";

//
//  Basic tags
//
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: $dibs-background-color-body;
  padding: 10px;
  margin: 0;
}

body, div, td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $dibs-color;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: $dibs-color;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

h2 {
  margin: 6px 0 12px 0;
  padding: 0;
  font-size: 18px;
}

h3 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 16px;
}

p {
  line-height: 160%;
  margin: 0;
  padding: 0 0 20px 0;
  color: $dibs-color;
}


#jetshop-mainwrapper {
  margin: 20px auto;
  padding-left: $dibs-padding-left;
  padding-right: $dibs-padding-right;
  max-width: $dibs-max-width;
  width: 100%;
}

.box {
  background-color: $dibs-box-background-color;
  border: 1px solid $dibs-border-color;
  padding-bottom: 2px;
  margin-bottom: 22px;
  h2 {
    padding-left: $dibs-padding-left;
    padding-top: 8px;
  }
}

span.header-number {
  width: 22px;
  height: 22px;
  display: inline-block;
  padding: 3px 7px;
  margin-top: -4px;
  background-color: red;
  margin-right: 6px;
  vertical-align: middle;
  color: white;
  text-align: center;
  font-size: 14px;
  @include border-radius(100px);
}

.order-details-left {
  float: left;
  width: 65%;
  margin-top: 4px;
  padding-bottom: 10px;
}

.order-details-right {
  float: right;
  width: 35%;
  padding-left: 20px;
  text-align: right;
  font-size: 18px;
  padding-bottom: 10px;
}


//
//  1: ORDER DETAILS
//
.order-details-inner {
  padding-left: $dibs-padding-left;
  padding-right: $dibs-padding-right;
}

.order-header {
  font-weight: 700;
}

.order-row {
  border-bottom: 1px solid $dibs-border-color
}

.order-row.order-row-tall {
  padding-top: 12px;
  padding-bottom: 12px;
}

.order-row:last-child {
  border-bottom: none;
}

.order-left {
  width: 55%;
  float: left;
  padding: 8px 0;
}

.order-middle {
  width: 15%;
  float: left;
  padding: 8px 0 8px 6px;
}

.order-right {
  width: 30%;
  float: left;
  padding: 8px 0;
  text-align: right;
}

.order-right.full {
  width: 100%;
  float: none;
}


//
//  2: CARD DETAILS
//
.row {
  width: 33%;
  float: left;
  padding-left: $dibs-padding-right;
  padding-right: $dibs-padding-left;
  margin-bottom: 10px;
}

.row input {
  width: 100%;
}

.input-text {
  margin-top: 4px;
  padding: 4px 6px;
  font-size: 14px;
  border: 2px solid $dibs-border-color;
  outline-color: $dibs-outline-color;
  &:focus {
    border-color: $dibs-outline-color;
  }
}

.input-select {
  margin-top: 4px;
  border: 2px solid $dibs-border-color;
  outline-color: $dibs-outline-color;
  font-size: 14px;
  &:focus {
    border-color: $dibs-outline-color;
  }
}

.input-button {
  outline-color: $dibs-outline-color;
  background-color: $dibs-button-background-color;
  width: 100%;
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px 30px;
  border: none;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  &:hover {
    background-color: darken($dibs-button-background-color, 10%);
  }
  &:focus {
    border-color: $dibs-outline-color;
  }
}

#cvv-input{
  margin-right: 15px;
  max-width: 90px;
}

.icon-help {
  margin-top: 8px;
  cursor: pointer;
}

//
//  Checkout button
//
#button-wrapper {
  text-align: right;
  margin-top: 12px;
  margin-bottom: 44px;
}


//
//  Footer
//
#footer {
  border: 1px solid $dibs-border-color;
  color: #fff;
  line-height: 160%;
  font-size: 12px;
  padding: 20px;

  #footer-logo {
    position: absolute;
    width: 105px;
    float: left;
    padding-right: 20px;
  }

  #footer-text {
    float: left;
    margin-left: 125px;
    line-height: 160%;
  }
}

//
//  Common
//
.resetfloat:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.resetfloat {
  display: inline-block;
}
.resetfloat {
  display: block;
  zoom: 1;
}

//
//  Media Queries
//
@media #{$small-only} {
  #jetshop-mainwrapper {
    padding-left: $dibs-padding-left + 10;
    padding-right: $dibs-padding-right + 10;
  }
  .row, .order-details-inner {
    padding-left: 0;
    padding-right: 0;
  }
  .box {
    background-color: transparent;
    border: none;
    h2 {
      padding-left: 0;
    }
  }
  .order-details-left {
    float: none;
    width: 100%;
    margin-top: 0;
  }
  .order-details-right {
    float: none;
    width: 100%;
    padding-left: 0;
    text-align: left;
  }
  #order-details {
    margin-bottom: 22px;
  }
  .row {
    width: 100%;
    float: none;
  }
  .order-left span {
    display: none;
  }
  #footer {
    #footer-logo {
      position: static;
      width: 105px;
      float: none;
      clear: both;
      margin-bottom: 18px;
    }
    #footer-text {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
}
